@import url("https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap");

@import "tailwindcss";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";

@import "./libravel-ui.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }

  .dark {
    --shiki-theme: var(--shiki--dark);
    --shiki--light: var(--shiki-theme);
    --shiki--dark: var(--shiki-theme);
  }
  [data-theme="dark"] {
    --shiki-theme: var(--shiki--dark);
  }
  [data-theme="light"] {
    --shiki-theme: var(--shiki--light);
  }
}

@utility scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}

::selection {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.bg-dots {
  @apply bg-[radial-gradient(color-mix(in_oklab,var(--muted)_10%,var(--muted-foreground)_15%)_1px,transparent_1px)] bg-size-[16px_16px];
}
