@import url("https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&display=swap");

@import "tailwindcss";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";

@import "./libravel-ui.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

@utility scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}

::selection {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.bg-dots {
  @apply bg-[radial-gradient(color-mix(in_oklab,var(--muted)_10%,var(--muted-foreground)_15%)_1px,transparent_1px)] bg-size-[16px_16px];
}

.bg-grid {
  background-image:
    linear-gradient(to right, #80808008 1px, transparent 1px),
    linear-gradient(to bottom, #80808008 1px, transparent 1px);
  background-size: 24px 24px;
}
